<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="carepoint.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=CAREPOINT_PDB;TNS_ADMIN=C:\Users\huniv\Oracle\network\admin;PASSWORD=usr_data;USER ID=USR_DATA"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>